@import "~/.cache/wal/colors-rofi-dark.rasi"
@import "~/.cache/wal/rofi-alpha.rasi"

configuration {
  font: "monospace 8";
  drun {display-name: "";}
  drun-display-format: "{icon} {name}";
  show-icons: true;
  icon-theme: "Papirus";
  /* timeout {
    delay: 10;
    action: "kb-cancel";
  } */
}

* {
    //background-color: transparent;
    //text-color: @foreground;
    transparency: "real";
    background-color: @alpha-background;

    selected-active-background: #42445A00;
    selected-active-foreground: #42445A00;
    selected-normal-background: #42445A00;
    selected-normal-foreground: #42445A00;
    selected-urgent-background: #42445A00;
    selected-urgent-foreground: #42445A00;
}

mainbox, listview, inputbar, prompt, entry, element, element-text, element-icon, element normal.normal, element alternate.normal {
    background-color: transparent;
}

window { 
    width: 20%;
    transparency: "real";
    background-color: @alpha-background;
}

mainbox {
  children: [inputbar, listview];
  padding: 10px -10px 0px -8px;
}

inputbar {
  //padding: 0 0 0 0;
  children: [prompt, entry];
}

entry {
  padding:2px 18px 12px;
}

prompt {
  padding:0;
}

listview {
  padding: 0 0 0 0;
  lines: 5;
}

element {
  children: [element-text];
}

element-text {
  padding: 12px 12px 12px ;
}

element-text selected {
  text-color: white;
}
